/* global styles */
* {
  box-sizing: border-box;
  border: 1px red solid;
}
:root {
  --font-dark: black;
  --font-light: white;
  --main-dark: rgb(108, 139, 183);
  --main-light: rgb(242, 243, 193);
  
}
body {
  background-image: linear-gradient(rgb(232, 243, 252), rgb(248, 248, 234));
  margin: 0;
  padding: 0;
  min-height:100vh;
}
/* typography */
body {
    font-family: 'Ropa Sans', sans-serif;
    color: var(--font-dark);
    line-height: 1.5;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
header {
    font-family: 'Ropa Sans', sans-serif;
    background-color: var(--main-dark);
    color: var(--font-light);
    text-align: right; 
    padding: 10px 20px 0 0;
}
main {
    display: flex;
    flex-direction: row;
}